/* Members: Gustav Perslid */

#quiz-content {
    display: none;
}

#end-screen {
    display: none;
}

.in-quiz #welcome {
    display: none;
}

.in-quiz #quiz-content {
    display: block;
}

.done #welcome {
    display: none;
}

.done #end-screen {
    display: block;
}

a{
 text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quizsection{
    width: 75%;
    height: 500px;
    padding: 100px 25px;
    text-align: center;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #004987;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 99999999px;
    text-transform: uppercase;
    transition: .3s ease-in-out background;
}
.button:hover {
    background: #0060b4;
}
.button:active {
    background: #00396b;
}

.button.q {
    width: 125px;
    background: rgb(219, 175, 0);
    border-radius: 0px;
}
.button.q:hover {
    background: #FFCE00;
}
.button.q:active {
    background: rgb(185, 148, 0);
}
.space-on-top {
    margin-top: 30px;
}