#quiz-content {
    display: none;
}

#end-screen {
    display: none;
}

.in-quiz #welcome {
    display: none;
}

.in-quiz #quiz-content {
    display: block;
}

.done #welcome {
    display: none;
}

.done #end-screen {
    display: block;
}
